
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Authorized.cshtml";
}

<div class="jumbotron">
    <h2 style="margin-bottom: 50px" class="text-center">Welcome User to your Daily Income Expense</h2>
    <div style="margin-bottom: 15px">
        <a href="~/Business/IncomeEntry" class="btn btn-success btn-block btn-lg">Income Entry</a>
    </div>
    <div style="margin-bottom: 15px">
        <a href="~/Business/ExpenseEntry" class="btn btn-primary btn-block btn-lg">Expence Entry</a>
    </div>
</div>

